{% extends 'shopclues_app/layouts/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        ShopClues || Products
        {% endblock title %}
    </title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/collection.css' %}">
    {% endblock extra_css %}
</head>
<body>
    {% block content %}
    <section class="bg-light py-4 my-10" >
        <div class="container">
            <div class="row" style="margin-top: 120px !important;">
                <div class="col-12">
                    <h4 class="mb-3">{{ category }} Products</h4>
                    <hr style="border-color: #b8bfc2;">
                </div>
                {% include 'shopclues_app/include/Messages.html'%}
                {% for item in products %}
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="{% url 'product_details' item.category.id item.id %}" style="text-decoration: none;">
                    <div class="card my-3" style="height: 400px; border-radius: 30px;">
                        <img src="{{ item.product_image.url }}" class="card-img-top" style="height: 150px; width: 140px; margin: 50px;" alt="{{ item.name }}">
                        <div class="card-body">
                            <h5 class="card-title text-primary fs-7">{{ item.name }}</h5>
                            <p class="card-text fs-5">
                                <span class="new-price" style="text-decoration: line-through;">₹ {{ item.original_price|floatformat:2 }}</span>
                                <span class="old-price">₹ {{ item.selling_price|floatformat:2 }}</span>
                            </p>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock content %}
</body>
</html>
